li {
    width: 100px;
    height: 100px;
    border: 1px solid rebeccapurple;
}

/*override styles Start*/

.canvasjs-chart-canvas {
    border-radius: 3px;
}


/*override styles End*/

.grid-container {
    position: relative;
}

.grid {
    height: 100%;
    position: relative;
}

.grid li {
    position: absolute;
    z-index: 1;
    font-weight: bold;
/*    line-height: 4em;*/
    text-align: center;
    cursor: pointer;
    -webkit-transition: top 0.2s, left 0.2s, width 0.2s, height 0.2s, font-size 0.2s, line-height 0.2s;
    transition: top 0.2s, left 0.2s, width 0.2s, height 0.2s, font-size 0.2s, line-height 0.2s;
}

/*

.grid li:hover{
    z-index: 2 !important;
}
*/

.grid li .inner {
    top: 0;
    right: 10px;
    left: 10px;
    bottom: 25px;
    padding: 0px;
    background: #fff;
    border-radius: 5px;
    position: absolute;
    -webkit-transition: background 3s;
    transition: background 3s;
}

.grid li.changed .inner {
    /*    background: #ffff66;*/
    -webkit-transition: none;
    transition: none;
}

.grid li.ui-draggable-dragging {
    -webkit-transition: none;
    transition: none;
}

.grid li.position-highlight {
    -webkit-transition: none;
    transition: none;
}

.grid li.position-highlight .inner {
    border: none;
    background: #ccc;
}

.grid .controls {
    position: absolute;
    top: -2px;
    right: 0px;
    float: right;
/*    font-size: 0.4em;*/
    font-weight: normal;
    line-height: 20px;
    -webkit-transition: opacity 0.2s;
    transition: opacity 0.2s;
    z-index: 1;
}

@media (max-width: 1800px) and (min-width: 1500px) {
    .grid.controls {
        top: 2px;
    }
}

@media (max-width: 1500px) and (min-width: 1000px) {
    .grid.controls {
        top: 4px;
    }
}

@media (max-width: 1000px) and (min-width: 800px) {
    .gridcontrols {
        top: 5px;
    }
}

.grid .controls .resize {
    font-size: 11px;
    float: left;
    margin: 0 5px 0 0;
    padding: 5px;
    background: #4e3030;
    color: white;
    text-decoration: none;
}

.grid .controls .resize:hover {
    background: #e44b4b;
}

.grid li:hover .controls {
    opacity: 1;
}

.dashboardtileElement {
    display: block;
}

 